vmdata = {
    os_template = "9001"
    ip_last_block_start = 20
    ip_first_three_block = "172.16.2"
    ip_dns = "172.16.2.1"
    ip_gw = "172.16.2.1"
    rke_domain = "play.lan"
    network_bridge = "vmbr3"
    diskstorage = "local-lvm"
    master_count = 1
    worker_count = 2
    master_cores = 2
    master_socket = 1
    master_mem = 4096
    worker_cores = 4
    worker_socket = 1
    worker_mem = 4096
    mtu = 1450
    master_disk_size = "20"
    worker_disk_size = "20"
    pve_host = "pve.play.lan"
    pve_node = "pve"
    username = "kyzdra"
    pve_pool = "Kube"
    kubernetes = "rke2" # rke2 or k3s
    master_vm_basename = "rke2-master"
    worker_vm_basename = "rke2-worker"
}