proxmox_url             = "https://192.168.30.2:8006/api2/json"
proxmox_username        = "infra_as_code@pve"
proxmox_password        = "infra_as_code"
proxmox_skip_tls_verify = "true"
proxmox_node            = "pve"
proxmox_pool            = "Templates"
proxmox_storage         = "local-lvm"
